aiohttp
aiosignal
altair
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
db-dtypes
frozenlist
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-core
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
idna
Jinja2
jsonschema
jsonschema-specifications
langchain
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
numpy
oauthlib
openai
packaging
pandas
pandas-gbq
pillow
proto-plus
pyarrow
pyasn1
pyasn1-modules
pydantic
pydata-google-auth
pydeck
Pygments
python-dateutil
python-dotenv
pytz
PyYAML
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
six
smmap
SQLAlchemy
streamlit
tenacity
toml
toolz
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
yarl
protobuf

# # pip install protobuf
# langchain
# openai
# google-cloud-bigquery
# jinja2
# pandas
# python-dotenv
# db-dtypes
